<h1>Listing posts</h1>
<% if user_signed_in?   %>
<%= link_to 'New Post', new_post_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-post', 'data-backdrop' => 'static', 'data-keyboard' => 'true'} if current_user.editor? %>
<% end %>
<br>
<div class="table-responsive-sm">
    <table class="table table-bordered">
        <thead>    
            <tr>
                <th scope="col">Index</th>
                <th scope="col">Post title</th>
                <th scope="col">Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% @posts.each_with_index do |post, i| %>
            <tr>
            <th scope="row"><%= i+1 %></th>
            <td><%= post.title %></td>
            <td><%= sanitize(post.description.truncate(20)) %></td>
            <td>
                <%= link_to 'Show', post_path(post)  %> 
                <% if user_signed_in? %>
                    <%= link_to 'Edit', edit_post_path(post) if current_user.editor? && current_user.id == post.user_id %>
                    <%= link_to 'Destroy', post_path(post),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } if current_user.admin? %>
                <% end %>
            </td>
            </tr>
            <% end %>
        </tbody>
    </table
    <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, next_label: '&raquo;', previous_label: '&laquo;', list_classes: %w(pagination justify-content-center) %>
    <%= page_entries_info @posts %>
</div>
<div id="modal-post" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">	
    </div>
  </div>
</div>