<h1>Listing Categories</h1>
<%= link_to 'New article', new_category_path %>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
  <div class="card-deck">
    <% @categories.each do |category| %>
      <div class="card">
        <div class="card-header" style="background-color: <%= category.color %>;">
          <h5 class="card-title"><%= category.name %></h5>
        </div>
        <div class="card-body">
        <%= link_to 'Show', category_path(category), class: "card-link"  %>
        <%= link_to 'Edit', edit_category_path(category), class: "card-link" %>
        <%= link_to 'Destroy', category_path(category),
        method: :delete,
        data: { confirm: 'Are you sure?' }, class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
<%= will_paginate @categories, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, next_label: '&raquo;', previous_label: '&laquo;', list_classes: %w(pagination justify-content-center) %>